html{
  margin: 0;
  height: 100%;
}

body {
  text-align: center;
  background-color: #000000;
  margin: auto;
  display: block;
  height: 100%;
  font-family: 'Chivo', 'serif';
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
  overflow-x: hidden;
}

.header{
  height: 100%;
  width: 100%;
}

.lefty{
  float: left;
  width: 100%;
  top: 20px;
  position: absolute;
  left: 30px;
}

@media screen and (min-width: 950px){
  .lefty{
    width: 33%;
  }
}

.mobMenu{
  transition: 0.5s;
}

.headerIcon{
  top:20px;
  left: 20px;
  cursor: pointer;
  border-radius: 100px;
  height: 100%;
  padding: 1px;
  font-size: 20px;
  transition: 0.5s;
  position: fixed;
}

.imghead{
  padding: 2px;
  border-radius: 4px;
  border: solid rgb(0,0,0,0);
  border-width: 1px;
  transition: 0.4s;
}

.imghead:hover{
  border: solid #f5f5f5;
  border-width: 1px;
  transition: 0.4s;
}

.headerspan{
  font-family: 'Chivo', 'serif';
  color:#f5f5f5;
  margin-right: 3%;
  cursor: pointer;
  border-radius: 4px;
  height: 100%;
  width: 25%;
  padding: 1px;
  font-size: 20px;
  transition: 0.3s;
  border: solid transparent;
  border-width: 1px;
  top: 26px;
  padding: 2px;
}

.headerspan:hover{
  cursor:pointer;
  border: solid #F5F5F5;
  border-width: 1px;
  transition: 0.3s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  padding: 0 4px;
  transition: 0.3s;
}

.column img {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.column img:hover {
  transform: rotate(1deg);
  transform-origin: center;
  transition: 0.5s;
}

.svgCont{
  width: 56px;
  height: 56px;
  background: #000000;
  background-color: #000000;
  background-size: cover;
  align-content: center;
}

.em{
  width: 56px;
  height: 56px;
  background: #000000;
  background-color: #f5f5f5b7;
  background-size: cover;
  align-content: center;
}

.svgContInv{
  width: 56px;
  height: 56px;
  background-color: #000000;
  fill: #f5f5f5b7;
}

.svgContInv:hover{
  fill: #F5F5F5;
}

.inPath{
  fill: #f5f5f5b7;
}

.inPath:hover{
  fill: #f5f5f5;
}

#iconPiano:focus{
  background: transparent;
  background-color: transparent;
}

#iconPiano:hover{
  background: transparent;
  background-color: transparent;
}

.header{
  position: fixed;
  left: 0;
  bottom:100%;
}

#phoneNumber{
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
}


#mailCont{
  transition: 0.4s;
}
#mailCont:hover{
  text-decoration: underline;
  transition:0.2s;
}

#stupidme{
  background-color: #F5F5F5;
  width: 100%;
  height: 10%;
}

h1,h2,h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #F5F5F5;
}

#nameTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: none;
  color: #F5F5F5;
  font-size: 45px;
}


.socialGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #000000;
  margin: auto;
}

#videocontactslink{
  margin: auto;
}

#homeVideos{
  text-align: center;
  background-color: #000000;
  display: block;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  font-family: 'Chivo', 'serif';
}

#homeProjects{
  text-align: center;
  background-color: #000000;
  display: block;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  font-family: 'Chivo', 'serif';
}

#homeEvents{
  text-align: center;
  background-color: #000000;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Chivo', 'serif';
}

.fab{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-color: none;
  border: 2px #000000;
  border-radius: 30px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 0px 1px #B0B0B0;
  transition: 0.4s;
  align-content: center;
}

.fab:hover{
  border: 2px #000000;
  box-shadow: 0px 0px 0px 3px #B0B0B0;
  transition: 0.4s;
}

#contacts{
  color: #F5F5F5;
}

.lnk{
  text-transform: uppercase;
  text-decoration: none;
  color: #F5F5F5;
  cursor: pointer;
}

.social-lnk{
  color: #F5F5F5;
  cursor: pointer;
  text-decoration: none;
}

.downmovers{
  right: 0px;
  left: 0px;
}

#centerall{
  margin: auto;
}

#videoscontactslink{
  cursor: pointer;
  color: #F5F5F5;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 120%;
  margin: auto;
}

#videoGrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10%;
}

#videoGridMob{
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2%;
}

#videoGridHome{
  display: grid;
  grid-template-columns: 100% ;
  margin: auto;
}

.customYT{
  transition: 0.3s;
  border-radius: 4px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px){
.customYT{
  margin-right: 56px;
  margin-left: 56px;
  margin-bottom: 0px;
}
}


.customYT:hover
{
  -webkit-box-shadow: 1px 1px 0px 0px #F5F5F5;
     -moz-box-shadow: 1px 1px 0px 0px #F5F5F5;
          box-shadow: 2px 2px 0px 0px rgb(245,245,245,0.4);
  transition: 0.3s;
}


  .spotifyGrid{
    display: inline-grid;
    grid-template-columns: 30% 30% 30%;
    margin:auto;
    column-gap: 5px;
    row-gap: 5px;
  }

@media screen and (min-width:640px){
  .spotifyGrid{
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 25px;
  }
} 

.spotifyCard{
  border-radius:4px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 0px #F5F5F5;
}

#aboutme {
  position: absolute;
  -webkit-animation: fromleft 1s;
  animation: fromleft 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-direction: normal;
}
@-webkit-keyframes fromleft {
  0% {
      left: -30%;
  }
  100% {
      left: 5%;
  }
}
@keyframes fromleft {
  0% {
      left: -30%;
  }
  100% {
      left: 5%;
  }
}

.arrow {
  border: solid #000000;
  border-width: 0px 1px 1px 0px;
  display: inline-block;
  margin: auto;
  padding: 10px 10px 0px 0px;
  margin-bottom: 2px;
  margin-top: 0px;
  transition: 0.8s;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
  background: #F5F5F5;
}

.imgCont{
  position: relative;
  width: 100%;
}

@media screen and (max-width:600px) and (orientation:portrait){
  .calendarIt{
  position: absolute;
  bottom: 8px;
  left: 2.5%;
  background-color: rgb(0,0,0,0.7);
  font-family: 'Chivo', 'serif';
  font-size: 12px;
  text-align: bottom left;
  height: 50px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 32% 68%;
  transition: 0.5s;
  color: rgb(0,0,0,1);
  cursor: pointer;
}
}

@media screen and (max-width:900px) and (orientation:landscape){
  .calendarIt{
  position: absolute;
  bottom: 0px;
  left: 2.5%;
  background-color: rgb(0,0,0,0.7);
  font-family: 'Chivo', 'serif';
  font-size: 12px;
  text-align: bottom left;
  height: 60px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 32% 68%;
  transition: 0.5s;
  color: rgb(0,0,0,1);
  cursor: pointer;
}
}

@media screen and (min-width:900px){
    .calendarIt{
    position: absolute;
    bottom: 8px;
    left: 2.5%;
    background-color: rgb(0,0,0,0.7);
    font-family: 'Chivo', 'serif';
    font-size: 20px;
    text-align: bottom left;
    height: 70px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 65%;
    transition: 0.5s;
    color: rgb(0,0,0,0);
    cursor: pointer;
  }
}

.calendarIt:hover{
  background-color: rgb(0,0,0,1);
  transition: 0.5s;
  color: #f5f5f5;
}

.calendarDate{
  display: grid;
  grid-template-rows: 10% 90%;
  border-radius: 4px;
}

@media screen and (min-width:901px){
  .calendarDay{
    background-color: #f5f5f5;
    border-radius: 0px 0px 4px 4px;
    color: #000000;
    height: 62%;
    font-size: 30px;
  }
}

@media screen and (max-width:900px) and (orientation:landscape){
  .calendarDay{
    background-color: #f5f5f5;
    border-radius: 0px 0px 4px 4px;
    color: #000000;
    height: 60%;
    font-size: 23px;
  }
}


@media screen and (max-width:600px){
  .calendarDay{
    background-color: #f5f5f5;
    border-radius: 0px 0px 4px 4px;
    color: #000000;
    height: 62%;
    font-size: 23px;
  }
}


.calendarMonth{
  background-color: #df4d4d;
  color: #f5f5f5;
  border-radius: 4px 4px 0px 0px;
  height: 38%;
  text-align: center;
  text-transform: capitalize;
}

.goTo{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

#frontBook{
  transition: 0.5s;
  border-radius: 4px;
  margin-bottom: 0.8%;
}

#frontBook:hover{
  transform: rotate(5deg);
  transform-origin: center;
  transition: 0.5s;
}

#backBook{
  transition: 0.5s;
  border-radius: 4px;
  margin:'0px';
}

#backBook:hover{
  transform: rotate(-5deg);
  transform-origin: center;
  transition: 0.5s;
}

#amznBtn{
  margin:auto;
  margin-top:2%;
  width:144px;
  height: 28px;
  background-color: #f5f5f5;
  color: #000000;
  transition: 0.2s;
  border-radius: 4px;
  font-size: 20px;
}

#amznBtn:hover{
  width:201px;
  transform: rotate(1deg);
  transform-origin: center;
  transition: 0.2s;
  border-radius: 4px;
  background-color: #000000;
  color: #F5F5F5;
  border: solid #F5F5F5;
  border-width: 1px;
}

.lightbox{
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  background-color: rgb(0,0,0,0.9);
  width: 100%;
  height: 100%;
}

.linkImageHover {
  position: absolute;
  top:0%;


  height: 100%;
  width: 40%;
  background-color: rgb(0,0,0,0.4);
  border-radius: 4px;
  transition: 0.3s;
}

.linkImageBtn{
  margin-top:50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  color: #f5f5f5;
  width: 180px;
  height: 32px;
  font-size: 25px;
  transition: 0.4s;
  border-radius: 4px;
}

.linkImageBtn:hover{
  background-color: #f5f5f5;
  color: #000000;
  width: 201px;
  height: 32px;
  transition: 0.4s;
  border-radius: 4px;
}

.direction{
  border-radius:50px; 
  width:56px; 
  height:56px; 
  position: fixed; 
  border: solid #F5F5F5; 
  border-width: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.direction:hover{
  border-width: 3px;
  transition: 0.4s;
}

.coverImgDiv{
  transition: 0.3s;
}

.coverImgDiv:hover{
  transform: rotate(2deg);
  transform-origin: center;
  transition: 0.3s;
}